


<video autoplay muted loop class="bgImage">
  <source src="../../assets/y2mate.com - cinematic_dark_video_backgroundfire_particleanimated_motion_backgroundfree_download_02_rha4jA5DboI_1080p.mp4" type="video/mp4">
   
</video> 
<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0px">
  <mat-toolbar [ngStyle]="{'background-color': expression}">
    <span style="transform:translateX(-30px);width:200px;">רן שלף</span> 
    <a href="#ourServices">השירותים שלנו</a>
    <a href="#">צור קשר</a>
    <a  [ngx-scroll-to]="'onMyself'">פרוייקטים</a>
  </mat-toolbar>
  
  <div class="main" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="50px">
    <p class="animated slideInRight slow" style="font-size:60px;">חברת חקירות רן שלף</p>
    <p class="animated slideInRight slower" style="font-size:30px;">"ודָרַשְׁתָּ וְחָקַרְתָּ וְשָׁאַלְתָּ, הֵיטֵב; וְהִנֵּה אֱמֶת נָכוֹן הַדָּבָר"   דברים י"ג פסוק טו
      </p>
    <button [ngx-scroll-to]="'ourServices'" class="animated fadeInUp  slower" fxFlexAlign="end" mat-stroked-button >לפרטים נוספים</button>
  </div>
  
  <div id="ourServices" class="section2" fxLayout="column" fxLayoutAlign="start start" >
    <div     class="sectionWhite">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
        <h1 fxFlexAlign="center" style="padding:20px;">השירותים שלנו</h1>
       <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
         <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-icon style="color:blueviolet;font-size: 120px;width:auto;height: auto;">
            search
          </mat-icon>
          <p style="color:black">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
         </div>
         <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-icon style="color:blueviolet;font-size: 120px;width:auto;height: auto;">
            search
          </mat-icon>
          <p style="color:black">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
         </div>
         <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-icon style="color:blueviolet;font-size: 120px;width:auto;height: auto;">
            search
          </mat-icon>
          <p style="color:black">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
         </div>
       </div>
      </div>
    </div>
    <div  class="sectionAlt">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">
        <h1 fxFlexAlign="center" style="padding:20px;">חקירות מובילות</h1>
        <swiper class="slide" [config]="config" [(index)]="index1">
         
         
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="50px">
         
            <img fxFlex="30"  class="fullSize mat-elevation-z8" src="../../assets/Picture6.png">
         
          <div style="padding-left:5%;padding-right:5%;" fxFlex="70">
            <h2>רצח בני משפחת אושרנקו</h2>
            <h4 >
                ביום שבת  17.10.09 בסביבות השעה 07:30 התקבלה קריאה במערך הכיבוי, ומיד לאחר מכן במשטרת ישראל, על דליקה בדירת מגורים בראשון לציון.
                צוותי הכיבוי והמשטרה שהגיעו למקום, נדהמו לראות ששה (6) בני משפחה, סבא וסבתא, זוג צעיר ושתי בנותיהם, דקורים למוות בצורה אכזרית וסימני חום ופיח קלים על הקירות.
                </h4>
                <h4>
                    מפכ"ל המשטרה דאז, רב ניצב דודי כהן, אמר לאחר ביקור בזירה: "אני מתעסק בפשיעה כמעט 20 שנה. אני חושב שראינו בעבר מספר אירועים קשים מאד, אבל אירוע שכזה למיטב זכרוני לא התרחש ב-20 השנה האחרונות.
                    הגעתי לזירה כחלק מצוותי המז"פ, מתוך כוונה לאתר ממצא שיאפשר הבאה לדין של הרוצח האכזרי.                    
                </h4>
                <button mat-button>קרא עוד</button>
          </div>
         
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="50px">
         
            <img fxFlex="30"  class="fullSize mat-elevation-z8" src="../../assets/Picture8.png">
         
          <div style="padding-left:5%;padding-right:5%;" fxFlex="70">
            <h2>הדליקה ביערות הכרמל</h2>
            <h4 >
                הדליקה המשפיעה ביותר של בישראל: הדליקה שפרצה ב- 2.12.2010 במבואות המערביים של עוספיה, גרמה למותם של 44 איש, הובילה להקמת מערך כבאות לאומי!
                האש התפשטה כ- 100 שעות ושרפה שטח של כ- 20,000 דונם.
                בחוות דעת צוות החקירה שהוקם על ידי, נקבע כי מניתוח הממצאים 
                ניתן לקבוע בסבירות גבוהה מאד שמוקד הדליקה ממוקם בנ"צ 
                205200/736350 ברדיוס של 25 מ'.
                באיזור המתואר נמצאו שני מוקדי פעילות אדם הכוללים מעגל אבנים של מדורה ושרידי פחמים בשוחה מכוסים בעפר בנ"צ 
                205215/736345 , 205195/736362. 
                להבנת נסיבות פרוץ הדליקה היתה חשיבות עליונה: בעבודת חקירה אותרו שני נערים שגרמו לדליקה ברשלנות.

                </h4>
       
                <button mat-button>קרא עוד</button>
          </div>
         
        </div> 
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="50px">
         
            <img fxFlex="30"  class="fullSize mat-elevation-z8" src="../../assets/Picture2.png">
         
          <div style="padding-left:5%;padding-right:5%;" fxFlex="70">
            <h2>הצתת מרפאת שיניים בראש העין</h2>
            <h4 >
                לפי כתב האישום, ב-2 באוגוסט 2002, שפכו הנאשמים בנזין בחדרי המרפאה והציתו את המקום.
                כתוצאה, נגרם פיצוץ עז ולאחריו דליקה שגרמו לחבלות גופניות לבני המשפחה ולנאשמים וכן לנזק כבד למבנה של המרפאה ולבית השכנים.
                פציעתו של בעל המרפאה ואדם נוסף שהיה איתו, העלו את החשד לכך שהם היו אלה שהציתו את המרפאה.
                בחקירה משלימה של יחידת החקירות, נמצאו ממצאים נסיבתיים מחשידים נוספים.
                </h4>
           <h4>
              לגרסתו של מומחה ההגנה, האירוע התרחש כתוצאה מתקלה בפיית אמגזית שעליה ניסו הנאשמים להכין קפה והיא גרמה לדליקה. הפיצוץ לטענתו, היה מאוחר לדליקה. לביסוס טענתו הכין סרט המציג תרחיש אפשרי לפרוץ האירוע.
              מומחה נוסף מטעם ההגנה, פרופ' לכימיה בעל שם, מרצה באוניברסיטת בן-גוריון וכן בשורת מכללות בישראל, מומחה ראשון במעלה בישראל בתחומי הדלק הרקטי ויועץ מערכת הבטחון בתחום זה אשר קבע כי מומחי התביעה התעלמו מן העובדה שהדליקה והפיצוץ התרחשו במעבדת שיניים שמטבע הדברים מכילה חומרים כימיים רבים והם אלה שבמהלך הדליקה, יצרו מופע דומה לבנזין, כפי שהתקבל בבדיקות המעבדה. 
           </h4>
                <button mat-button>קרא עוד</button>
          </div>
         
        </div> 
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="50px">
         
            <img fxFlex="30"  class="fullSize mat-elevation-z8" src="../../assets/Picture7.png">
         
          <div style="padding-left:5%;padding-right:5%;" fxFlex="70">
            <h2>אישום בהריגה בתאונת רכבי יוקרה</h2>
            <h4 >
                בתאריך 17.5.13 בסביבות השעה 16:00 התרחשה תאונת דרכים בכביש 40 סמוך לאוניברסיטת בר-אילן בין רכב BMW שחורה לבין רכב אספנות מסוג פורש שנת 1976.
                רכב  BMW נשרף כליל שניות לאחר ששני נוסעים יצאו ממנו ללא פגע.
                בדמו של נהג ה-BMW נמצאה רמת אלכוהול גבוהה מן המותר. ברכב נמצא בקבוק שתיה חריפה.
                רכב הפורש נעצר נעצר במרחק של כ- 4 מטרים מרכב BMW.
                שני הנוסעים נפגעו בצורה קשה מכוויות למרות שהרכב בחלקו החיצוני (כמעט) ללא סימני חום או פיח.
                לאחר הגשת כתב אישום כנגד נהג ה- BMW, הגישה ההגנה חוות דעת של מומחה מטעמה לפיה הדליקה בפורש נגרמה כתוצאה מאביזר לא תיקני בתוך הפורש, ושאין קשר בין הדליקה בפורש לבין התאונה.
                בחודש דצמבר, 7 חודשים לאחר האירוע, התבקשתי על ידי פרקליטות מחוז תל אביב לסייע בחקירת נסיבות האירוע.
                חקירת דליקת רכב היא חקירה קשה מאד. חקירת נסיבות דליקת רכב 7 חודשים לאחר האירוע, היא חקירה (כמעט) בלתי אפשרית.
                למרות הסיכוי הנמוך להבין את הנסיבות, פעלתי לסייע בתיק: הקמתי צוות חקירה, בחנתי את הרכב, קראתי ספרות והתייעצתי במומחים.
                על סמך כל אלה, ניסחתי חוות דעת לפיה הכוויות שנגרמו לנוסעים ברכב מסוג פורש, נגרמו משמן רותח שהותז לכיוונם בעקבות התאונה ולאחר פגיעה בצנרת מערכת קירור שמן של הרכב.
                בית המשפט בראשותה של כב' השופטת אמסטרדם קיבלה את חוות הדעת ועל בסיסה הרשיע את נהג ה- BMW בהריגה.
                בשנת 2019 אישר בית המשפט העליון את פסק הדין. 
                
                </h4>
       
                <button mat-button>קרא עוד</button>
          </div>
         
        </div> 
        </swiper>
      </div>
    </div>
    <div id="onMyself" class="sectionWhite"> 
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">
        <h1 fxFlexAlign="center" style="padding:20px;">על עצמי</h1>
        <mgl-timeline style="width:80%;direction: ltr;" [side]="right" fxFlexAlign="center" [alternate]="false">
          <mgl-timeline-entry>
              <mgl-timeline-entry-header>צבא ההגנה לישראל</mgl-timeline-entry-header>
              <mgl-timeline-entry-content style="direction:rtl">שירות צבאי המסתיים במעל ל-10 שנים כקצין מודיעין אוגדה במילואים ומפקד יחידה 
              </mgl-timeline-entry-content>
              <mgl-timeline-entry-side>
                <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
                    <p style="color:black;font-size:25px;">1978-2017</p>    
                    <img style="width:60px;height: 60px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Badge_of_the_Israel_Defense_Forces.new.svg/1200px-Badge_of_the_Israel_Defense_Forces.new.svg.png">
                                 
                </div>
               
              </mgl-timeline-entry-side>
              <mgl-timeline-entry-dot [size]="20"></mgl-timeline-entry-dot>
            
          </mgl-timeline-entry>
          <mgl-timeline-entry>
              <mgl-timeline-entry-header>משטרת ישראל</mgl-timeline-entry-header>
              <mgl-timeline-entry-content style="direction:rtl">שירות במז"פ/אגף החקירות בסופו מפקד במשך 12 שנים על המעבדה לחקירת הצתות
 
              </mgl-timeline-entry-content>
              <mgl-timeline-entry-side>
                <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
                    <p style="color:black;font-size:25px;">1988-2012</p>    
                    <img style="width:60px;height: 60px;" src="https://police.gov.il/join/images/giyusLogo.svg">
                                 
                </div>
               
              </mgl-timeline-entry-side>
              <mgl-timeline-entry-dot [size]="20"></mgl-timeline-entry-dot>
            
          </mgl-timeline-entry>
          <mgl-timeline-entry>
              <mgl-timeline-entry-header>כבאות והצלה לישראל</mgl-timeline-entry-header>
              <mgl-timeline-entry-content style="direction:rtl">ראש מחלקת החקירות ומקים מערך החקירות ברשות הארצית לכבאות והצלה

 
              </mgl-timeline-entry-content>
              <mgl-timeline-entry-side>
                <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
                    <p style="color:black;font-size:25px;">2012-2019</p>    
                    <img style="width:60px;height: 60px;" src="https://upload.wikimedia.org/wikipedia/he/6/68/FireDepIsrael.svg">
                                 
                </div>
               
              </mgl-timeline-entry-side>
              <mgl-timeline-entry-dot [size]="20"></mgl-timeline-entry-dot>
            
          </mgl-timeline-entry>
          <mgl-timeline-entry>
              <mgl-timeline-entry-header>אוניברסיטת חיפה</mgl-timeline-entry-header>
              <mgl-timeline-entry-content style="direction:rtl">מרצה בקורס ל"פיזיקה וכימיה של הבעירה", תואר שני ללימודי ניהול אסון עם התמחות במדעי האש/ החוג לגיאוגרפיה


 
              </mgl-timeline-entry-content>
              <mgl-timeline-entry-side>
                <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
                    <p style="color:black;font-size:25px;">2014-היום</p>    
                    <img style="width:60px;height: 60px;" src="https://upload.wikimedia.org/wikipedia/he/thumb/d/d9/%D7%90%D7%95%D7%A0%D7%99%D7%91%D7%A8%D7%A1%D7%99%D7%98%D7%AA_%D7%97%D7%99%D7%A4%D7%94_-_%D7%A6%D7%91%D7%A2%D7%95%D7%A0%D7%99.svg/1200px-%D7%90%D7%95%D7%A0%D7%99%D7%91%D7%A8%D7%A1%D7%99%D7%98%D7%AA_%D7%97%D7%99%D7%A4%D7%94_-_%D7%A6%D7%91%D7%A2%D7%95%D7%A0%D7%99.svg.png">
                                 
                </div>
               
              </mgl-timeline-entry-side>
              <mgl-timeline-entry-dot [size]="20"></mgl-timeline-entry-dot>
            
          </mgl-timeline-entry>
      </mgl-timeline>
      </div>
    </div>
    <div class="sectionAlt">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">
        <h1 fxFlexAlign="center" style="padding:20px;">מספרים עלינו</h1>
        <swiper class="slide" [config]="config2" [(index)]="index3">
         
         <div fxLayout="column" fxLayoutAlign="center center">
            <youtube-player  videoId="FBkOc82eTaA" >
          </youtube-player></div>
          <div fxLayout="column" fxLayoutAlign="center center">
              <youtube-player  videoId="Xrcj2fcIvHI" >
            </youtube-player></div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <youtube-player  videoId="KfIq1sTpUjc" >
              </youtube-player></div>
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
                  <h1 fxFlexAlign="center" style="padding:20px;">קישורים</h1>
                  <a href="http://www.takdin.co.il/searchg/%D7%A8%D7%9F%20%D7%A9%D7%9C%D7%A3_page4.html">פסקי דין מאתר תקדין</a>
                  <a href="https://soundcloud.com/criminal_record_podcast/oshrenko_evidence">תיאור חקירת רצח משפחת אושרנקו </a>
                  <a href="https://www.yediot.co.il/articles/0,7340,L-4886561,00.html">כתבה בידיעות אחרות "CSI הצתות" 
                  </a>
              </div>
        </swiper>
    </div>
  </div>
  <div     class="sectionWhite">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <h1 fxFlexAlign="center" style="padding:20px;">הלקוחות שלנו</h1>
        <div  fxLayout="row wrap"  fxLayoutAlign="center stretch">
            <mat-card class="company mat-elevation-z8">
              <img class="fullSize" src="../../assets/Picture9.png">
            </mat-card>
             <mat-card class="company mat-elevation-z8">
              <img class="fullSize" src="../../assets/Picture10.png">
              </mat-card> 
              <mat-card class="company mat-elevation-z8">
                <img class="fullSize" src="../../assets/Picture11.png">
              </mat-card>
              <mat-card class="company mat-elevation-z8">
                  <img class="fullSize" src="../../assets/Picture12.png">
              </mat-card>
              <mat-card class="company mat-elevation-z8">
                  <img class="fullSize" src="../../assets/Picture13.png">
              </mat-card>
              <mat-card class="company mat-elevation-z8">
                  <img class="fullSize" src="../../assets/Picture14.png">
              </mat-card>
              <mat-card class="company mat-elevation-z8">
                  <img class="fullSize" src="../../assets/Picture15.png">
              </mat-card>
              <mat-card class="company mat-elevation-z8">
                  <img class="fullSize" src="../../assets/Picture16.png">
              </mat-card>
              <mat-card class="company mat-elevation-z8">
                  <img class="fullSize" src="https://che.org.il/wp-content/uploads/2012/07/tau4.png">
              </mat-card>
              <mat-card class="company mat-elevation-z8">
                  <img class="fullSize" src="https://www.huji.ac.il/huji/logos/HUJI_LogoHeb_hor.jpg">
              </mat-card>
              <mat-card class="company mat-elevation-z8">
                  <img class="fullSize" src="https://upload.wikimedia.org/wikipedia/he/6/6d/Shomera_Insurance_Logo.png">
              </mat-card>
        </div>
      </div>
    </div>
    <div class="sectionAlt">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">
          <h1 fxFlexAlign="center" style="padding:20px;">צור קשר</h1>
          <form [formGroup]="subscribeForm" novalidate (ngSubmit)="sendMail($event)">
              <input type="text" placeholder="Enter your email" formControlName="email"/>
              <button class="button margin-top-15" type="submit">Subscribe</button>
          </form>
      </div>
    </div>
</div>
