
.bgImage{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
   
    
}

mat-toolbar{
    position: fixed;
    background-color: transparent;

}

a{
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

span,mat-icon,a,p,button{
    color:white;
   
}

.mat-stroked-button:not([disabled]){
    border-color: white;
    font-size: 20px;
    padding: 20px 70px 20px 70px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
   
}

.mat-stroked-button:not([disabled]):hover{
   background: linear-gradient(to right,#E65100,#F57C00);
   transform: scale(1.04)
}

h4{
    line-height: 2;
}

.company{
    width:17%;
    height:100px;
    margin: 20px;
    transition: all 0.3s;
}
.company:hover{
  transform: translateY(-7px);
}
.main{
   
  
    margin-top: 5%;
   
    
    width: 100%;
    height: 100%;
    
}
mat-form-field>input{
    color: black;
}

.submit{
    padding-top:20px;font-size:24px;padding-bottom:20px;padding-left:60px;padding-right:60px;margin-top:100px;
margin-right:240px;
}
.submitMobile{
    padding-top:20px;font-size:24px;padding-bottom:20px;padding-left:60px;padding-right:60px;margin-top:60px;

}
.lastButton{
   margin-right: 10px;
}

.socialButton{
    background-color:#FF9800;
    padding:30px;
    font-size:30px;
    transition: all 0.2s ease-in-out;
}

.socialButton:hover{
    transform: scale(1.15);
  
}
mgl-timeline{
    padding: 0px;
}
.intro{
    color:black;
    line-height: 2;
    font-size: 24px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -20px;
}
.sectionWhite{
    width: 100%;
    height: 100vh;
    background-color: white;

}
.sectionAlt{
    width: 100%;
    height: 100vh;
   background-color: #170707ed;
}
.sectionAltMobile{
    width: 100%;
    height: 100vh;
   background-color: transparent;
}
.sectionAlt > div{
    color: white;
}
.section2{
    position: absolute;
    top: 100vh;
    width:100%;
}

.slide{
    width:100%;
    height: 60vh;
}

.fullSize{
    height: 100%;
    width: 100%;
}